Repository egonoid/serverless-microservice-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix --project .

.lintstagedrc:

{
  "*.{ts,js,json,md,yml}": ["prettier --write"],
  "*.ts": ["tslint --fix --project ."]
}

Added persistence and external folder+
  src/external/.gitkeep
  src/persistence/.gitkeep
  tsconfig.json
Due: prettier --write

Added .DS_Store to .gitignore
  .gitignore
Due: none

Fixed Type registration
  src/common/dependency-injection/container.ts
Due: prettier --write, tslint --fix --project .

Fixed error due to tsconfig paths
  jest.config.js
  package.json
  src/api/handlers/rest/ping/ping.ts
  webpack.config.js
  yarn.lock
Due: prettier --write, tslint --fix --project .

Added index file that exports DI container and types
  package.json
  src/common/constants/index.ts
  src/common/dependency-injection/index.ts
Due: prettier --write, tslint --fix --project .

Added product repository and business service
  package.json
  src/application/services/interfaces/base.ts
  src/application/services/interfaces/product.service.ts
  src/application/services/product.service.ts
  src/common/baseMapper.ts
  src/common/dependency-injection/container.ts
  src/common/dependency-injection/types.ts
  src/domain/base.entity.ts
  src/domain/image.entity.ts
  src/domain/product.entity.ts
  src/persistence/.gitkeep
  src/persistence/mappers/image.mapper.ts
  src/persistence/mappers/product.mapper.ts
  src/persistence/models/base.data.ts
  src/persistence/models/image.data.ts
  src/persistence/models/product.data.ts
  src/persistence/repositories/interfaces/product.repository.ts
  src/persistence/repositories/interfaces/repository.ts
  src/persistence/repositories/product.repository.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint --fix --project .

Added creating and reading all products
  .gitignore
  README.md
  package.json
  serverless.yml
  src/api/handlers/rest/products/create/create.ts
  src/api/handlers/rest/products/readAll/readAll.ts
  src/common/dependency-injection/container.ts
  src/common/dependency-injection/types.ts
  src/persistence/mappers/product.mapper.ts
  yarn.lock
Due: prettier --write, tslint --fix --project .

Added updating and deleting products
  serverless.yml
  src/api/handlers/rest/products/delete/delete.ts
  src/api/handlers/rest/products/read/read.ts
  src/api/handlers/rest/products/update/update.ts
  src/application/services/product.service.ts
  src/persistence/repositories/product.repository.ts
Due: prettier --write, tslint --fix --project .

Added handling business errors
  src/api/handlers/rest/products/read/read.ts
  src/api/handlers/rest/products/update/update.ts
  src/application/services/interfaces/base.ts
  src/application/services/product.service.ts
Due: prettier --write, tslint --fix --project .

Added model validation
  package.json
  src/api/handlers/rest/products/create/create.ts
  src/api/handlers/rest/products/update/update.ts
  src/api/mappers/.gitkeep
  src/api/middlewares/bodyValidator.middleware.ts
  src/api/models/image.model.ts
  src/api/models/product.model.ts
  src/api/validators/__snapshots__/validator.test.ts.snap
  src/api/validators/validator.test.ts
  src/api/validators/validator.ts
  yarn.lock
Due: prettier --write, tslint --fix --project .

Fixed saving images
  src/api/handlers/rest/products/create/create.ts
  src/api/handlers/rest/products/update/update.ts
  src/api/models/image.model.ts
  src/application/services/product.service.ts
Due: prettier --write, tslint --fix --project .

Fixed ordering when reading all products
  serverless.yml
  src/persistence/mappers/image.mapper.ts
  src/persistence/mappers/product.mapper.ts
  src/persistence/models/base.data.ts
  src/persistence/models/product.data.ts
  src/persistence/repositories/product.repository.ts
Due: prettier --write, tslint --fix --project .

Removed domain names
  serverless.yml
Due: prettier --write

Added MIT license file
  LICENSE
Due: none

Added missing serverless-domain-manager plugin
  package.json
  serverless.yml
  yarn.lock
Due: prettier --write

Added checking for valid json
  src/api/middlewares/bodyValidator.middleware.ts
Due: prettier --write, tslint --fix --project .

Upgraded packages
  package.json
  yarn.lock
Due: prettier --write

Downgraded serverless-offline due to issues with newest version
  package.json
  yarn.lock
Due: prettier --write

Added aws multi account handling [#172471896]
  serverless.yml
Due: prettier --write

Added @egonoid/api-middlewares package
  .npmrc
  package.json
  src/api/handlers/rest/ping/ping.ts
  src/api/handlers/rest/products/create/create.ts
  src/api/handlers/rest/products/delete/delete.ts
  src/api/handlers/rest/products/read/read.ts
  src/api/handlers/rest/products/readAll/readAll.ts
  src/api/handlers/rest/products/update/update.ts
  src/api/middlewares/eventLogger.middleware.ts
  yarn.lock
Due: prettier --write, tslint --fix --project .

Updated @egonoid/api-middlewares package
  package.json
  src/api/handlers/rest/products/create/create.ts
  src/api/handlers/rest/products/update/update.ts
  src/api/middlewares/.gitkeep
  src/api/middlewares/bodyValidator.middleware.ts
  src/api/validators/__snapshots__/validator.test.ts.snap
  src/api/validators/validator.test.ts
  src/api/validators/validator.ts
  yarn.lock
Due: prettier --write, tslint --fix --project .

Refactored dynamoDB indexes [#172647140]
  package.json
  serverless.yml
  src/common/dependency-injection/container.ts
  src/common/enums/sortType.enum.ts
  src/persistence/extensions/repository.extensions.ts
  src/persistence/mappers/image.mapper.ts
  src/persistence/mappers/product.mapper.ts
  src/persistence/models/base.data.ts
  src/persistence/models/image.data.ts
  src/persistence/models/index.ts
  src/persistence/models/product.data.ts
  src/persistence/repositories/product.repository.ts
  yarn.lock
Due: prettier --write, tslint --fix --project .

Improved error responses [#172647315]
  src/api/extensions/error.extensions.ts
  src/api/handlers/rest/products/create/create.ts
  src/api/handlers/rest/products/read/read.ts
  src/api/handlers/rest/products/readAll/readAll.ts
  src/api/handlers/rest/products/update/update.ts
Due: prettier --write, tslint --fix --project .

Updated @egonoid/api-middlewares package
  package.json
  yarn.lock
Due: prettier --write

Added cloudwatch log retention time
  serverless.yml
Due: prettier --write

Upgraded packages [#173744783]
  yarn.lock
Due: none

Upgraded jest [#173744783]
  package.json
  yarn.lock
Due: prettier --write

Upgraded serverless-domain-manager [#173744783]
  package.json
  yarn.lock
Due: prettier --write

Upgraded ts-loader [#173744783]
  package.json
  yarn.lock
Due: prettier --write

Upgraded uuid [#173744783]
  package.json
  src/api/handlers/rest/ping/ping.ts
  src/application/services/product.service.ts
  yarn.lock
Due: prettier --write, tslint --fix --project .

Bumped version to 1.0.0
  package.json
Due: prettier --write

Added forward and backward pagination for products [#173747413]
  src/api/handlers/rest/products/readAll/readAll.ts
  src/application/services/interfaces/base.ts
  src/application/services/interfaces/product.service.ts
  src/application/services/product.service.ts
  src/common/util/deserializeCursor.util.ts
  src/common/util/serializeCursor.util.ts
  src/persistence/extensions/repository.extensions.ts
  src/persistence/repositories/interfaces/repository.ts
  src/persistence/repositories/product.repository.ts
Due: prettier --write, tslint --fix --project .

Bumped version to 1.1.0
  package.json
Due: prettier --write

Streamlined yarn test scripts
  package.json
Due: prettier --write

Added Plop.js template for BasicService
  .plop-templates/BasicService/plopfile.js
  .plop-templates/BasicService/template/application/services/interfaces/service.ts.hbs
  .plop-templates/BasicService/template/application/services/service.ts.hbs
  .vscode/settings.json
  plopfile.js
Due: prettier --write

Switched from tslint to eslint
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write

Fixed testing in Husky configuration
  .huskyrc
Due: none

Added eslint typescript rules
  .eslintrc.js
Due: prettier --write

Added Dependabot configuration
  .github/dependabot.yml
Due: prettier --write
